.pokemon-card-container {
    width: 138px;
    height: 192px;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}
.pokemon-card-container img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.pokemon-card-container:hover {
    transform:scale(1.8);
    transition: all 150ms ease;
    cursor: pointer;
    box-shadow: rgba(73, 192, 57, 0.527) 0px 2px 4px 0px, rgba(32, 226, 7, 0.459) 0px 2px 16px 0px;
    filter: contrast(105%) brightness(105%);
}

