.search-results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(70, 63, 58, 0.678);
    border-radius: 8px; 
    box-shadow: rgba(41, 85, 104, 0.12) 0px 2px 4px 0px, rgba(120, 197, 230, 0.32) 0px 2px 16px 0px;
    z-index: 1;
    height: 100%;
    transition: min-height 300ms ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;   
    overflow-x: hidden; 
    overflow-y: auto;
    grid-area: sview;
}

.search-results-deck-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(70, 63, 58, 0.678);
    border-radius: 8px; 
    box-shadow: rgba(41, 85, 104, 0.12) 0px 2px 4px 0px, rgba(120, 197, 230, 0.32) 0px 2px 16px 0px;
    z-index: 1;
    height: 100%;
    transition: min-height 300ms ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;   
    overflow-x: hidden; 
    overflow-y: auto;
    grid-area: sview;
}

.image-container {
    padding: 16px;
    display: grid;
 	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: center;
    height: 100%;
}

.list-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px;
    border: 1px solid #fff;
    border-radius: 8px;
    /* padding: 16px; */
    font-size: 1rem;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    width: 100%
}

.table-head {
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    position: fixed;
    display: block;
}

.table-body{
    display: block;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    overflow: hidden;
    border-collapse: collapse;
    position: relative;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-collapse: collapse;
}

th {
    text-decoration: underline;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
    padding-right: 10px;
    border-collapse: collapse;
    position: sticky;
    top: 0;
    background-color: rgba(142, 85, 189, 0.911);
}

td {
    padding-right: 10px;
    padding-top: 4px;
    padding-top: 4px;
    border-collapse: collapse;
}

.column1 {
    padding-left: 75px;
    width: 10%;
}
.column2 {
    width: 10%;
}
.column3 {
    width: 10%;
}
.column4 {
    width: 5%;
}
.column5 {
    width: 10%;
}
.column6 {  
    width: 10%
}

/* Loading spinner */

.lds-ring {
    display: inline-block;
    width: 128px;
    height: 128px;
    left:38vw;
    position: relative;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.not-visible {
    display: none;
}

.not-active {
    display: none !important;
}