.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
    width:240px;
    height: 32px;
    border-radius: 50px;
    background: rgba(114, 73, 27, 0.664);
    /* background: transparent; */
    box-sizing: border-box;
    color:#FFF;
    cursor: pointer;
    
    text-align: center;
}