.deckCards-container {
    width: 256px;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(56, 56, 56, 0.767);
    border-radius: 8px; 
    box-shadow: rgba(62, 223, 223, 0.342) 0px 0px 4px 0px, rgba(40, 136, 149, 0.459) 0px 2px 8px 0px;
    z-index: 1;
    grid-area: deck;
}

.deckName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 128px;
    background-color: rgba(84, 153, 231, 0.301);
    border-radius: 8px;
}

.name {
    width: 200px !important;
    padding: 0px 0px 0px 0px !important;
    text-align: center;
    color: #fff;
}

.saveButton {
    text-decoration: none;
    border: none;
    line-height: 20px;
    text-decoration: none;
    background-color: rgba(144, 214, 52, 0.678);
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin: 16px;
    width: 250px;
    height: 32px;
    border-radius: 50px;
    font-size: 1rem;
    box-shadow: rgb(41 85 104 / 12%) 0px 2px 4px 0px, rgb(120 197 230 / 32%) 0px 2px 16px 0px;
}

.saveButton:hover {
    filter: brightness(110%);
    text-shadow: 0px 0px 2px rgba(214, 52, 200, 0.678);
}