.search-form-container {
    width: 97%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    background-color: rgba(70, 63, 58, 0.678);
    border-radius: 8px; 
    box-shadow: rgba(41, 85, 104, 0.12) 0px 2px 4px 0px, rgba(120, 197, 230, 0.32) 0px 2px 16px 0px;
    z-index: 1;
}
.form-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.input-holder {
    margin: 16px;
    width:250px;
    height: 32px;
    border-radius: 50px;
    /* background: rgba(0, 0, 0, 0.787); */
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    padding:0px 70px 0 20px;
    line-height: 20px;
    color:#FFF;
    float:left;
    cursor: pointer;
    vertical-align: middle;
}
.input-holder:focus {
    outline: none !important;
    border:1px solid rgba(144, 214, 52, 0.678);
    box-shadow: 0 0 10px #719ECE;
}

.search-form-container select {
    margin: 32px;
    
}

.search-form-container button {
    padding:0px 70px 0 80px;
    float: left;
    line-height: 20px;
    text-decoration: none;
    background-color: rgba(144, 214, 52, 0.678);
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin: 16px;
    width:250px;
    height: 32px;
    border-radius: 50px;
    font-size: 1rem;
    box-shadow: rgba(41, 85, 104, 0.12) 0px 2px 4px 0px, rgba(120, 197, 230, 0.32) 0px 2px 16px 0px;

}
.search-form-container button:hover {
    filter: brightness(110%);
    text-shadow: 0px 0px 2px rgba(214, 52, 200, 0.678);
}

.view-list-select-mode {
    display: inline-block;
    width: 200px;
    text-align: center;

}
.view-icon {
    font-size: 1.2rem;
    cursor: pointer;
    margin: 8px;
    padding-bottom: 3px;
}

.onGreen {
    /* color: rgba(144, 214, 52, 0.616); */
    filter: brightness(150%);
    transform: scale(1.2);
    border-bottom: 1px solid rgba(144, 214, 52, 0.616);
}