.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100vh;
    color: #e0e0e0;
    margin: 0;
    
}